@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

body {
  background-color: #333;
  color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 0.9rem;
}
img {
  width: 2rem;
  border-radius: 50%;
}

p {
  font-size: 1rem;
}

input {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 70%;
  color: #eee;
  padding: 5px;
  /* margin: 2rem 2rem 0rem 2rem;  */
  background-color: rgb(35, 35, 35);
  border-top: 1px solid #eee;
  border-bottom: none;
  border-right: none;
  outline: none;
}

input::placeholder {
  color: #eee;
}

.input-container button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 3rem;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  background-color: rgb(35, 35, 35);
  color: #eee;
  padding: 5px;
}

.app {
  /* padding: 1rem 1rem 0 1rem; */
  height: 100vh;
  overflow: hidden;
}

.chat {
  height: 100%;
}

.messages {
  height: 80%;
  overflow-y: scroll;
  padding: 1rem 1rem 0rem 1rem;
}
.messages::-webkit-scrollbar {
  display: none;
}
.container {
  max-width: 700px;
  height: 100%;
  margin: auto;
  /* padding: 1rem 1rem; */
  position: relative;
  display: flex;
  flex-direction: column;
}


.sent {
  display: flex;
  /* width: 50%; */
  margin-bottom: 10px;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  align-items: center;
  background-color: rgb(91, 91, 91);
}
.sent h2 {
  text-align: left;
}
.received {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  /* width: 50%; */
  margin-bottom: 10px;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  background-color: rgb(91, 91, 91) ;
}
.received h2 {
  text-align: right;
}