* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 0.9rem;
}
img {
  width: 2rem;
  border-radius: 50%;
}

p {
  font-size: 1rem;
}

body {
  background-color: #333;
  color: #eee;
}

input {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 80%;
  color: #eee;
  padding: 5px;
  background: transparent;
  border-top: 1px solid #eee;
  border-bottom: none;
  border-right: none;
  outline: none;
}

input::placeholder {
  color: #eee;
}

.input-container > button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 3rem;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  background-color: transparent;
  color: #eee;
  padding: 5px;
}

.input-container {
  width: 100vw;
  /* overflow: hidden; */
}

.app {
  /* padding: 1rem 1rem 0 1rem; */
  height: 100vh;
  overflow: hidden;
}

.chat {
  height: 100%;
}

.messages {
  height: 80%;
  overflow-y: scroll;
  padding: 1rem 1rem 0rem 1rem;
}
.messages::-webkit-scrollbar {
  display: none;
}

.send-message {
  height: 20%;
  display: flex;
}

.sent {
  display: flex;
  /* width: 20%; */
  margin-bottom: 10px;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  align-items: center;
  background-color: rgb(91, 91, 91);
}
.received {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  /* width: 20%; */
  margin-bottom: 10px;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  background-color: rgb(91, 91, 91) ;
}